.footer_bg {
    background-image: url(../img/footer-bg-map.jpg);

    // background: -webkit-linear-gradient(bottom, rgba(10, 253, 30, 0.15), rgba(10, 253, 30, 0.1) 30%, #fff);
    // background:#DCFFDF;
    .footer-contain {
        padding-top: 20px;
        padding: 20px 0;

        .footer-logo {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 65%;
                margin-top: 30px;
                margin-bottom: 30px;

                @media (max-width: 991px) {
                    width: 100%;
                }

                @media (max-width: 991px) {
                    width: 30%;
                }

            }
        }

        .footer-contents {
            text-align: left;

            @media (max-width: 991px) {
                margin-left: 35px;
            }

            @media (max-width: 575px) {
                margin-left: 75px;
            }

            @media (max-width: 415px) {
                margin-left: 50px;
            }

            @media (max-width: 320px) {
                margin-left: 30px;
            }

            .footer-title {
                margin: 10px 0;
                // text-align: center !important;
                color: #fff;

            }

            .footer-items {
                font-size: 12px;

                .footer-item {
                    display: flex;
                    padding: 10px 0;

                    b {
                        color: #fff;

                    }

                    span {
                        color: #fff;
                    }

                    .footer-item-icon {
                        color: #fff;
                        ;
                        text-align: center !important;
                        width: 25px;
                        height: 25px;
                        padding: 2px;
                        border: 1px solid #fff;
                    }



                    .footer-item-content {
                        margin: 5px 3px;
                        padding-left: 5px;
                    }
                }
            }

            .footer-contents-items {
                .footer-contents-item {
                    font-size: 12px;
                    display: flex;
                    padding: 10px;

                    .fa {
                        font-size: large !important;
                        color: #033B4A;
                        margin: 0 20px;
                        text-align: center !important;
                        width: 35px;
                        height: 30px;
                        padding: 5px;
                        border: 1px solid #ffffff;
                        background-color: #fff;
                    }

                    .fa:hover {
                        color: white;
                        background-color: #033B4A;
                    }
                }
            }

        }

    }

}
