.pagination {
    @media(max-width: 415.5px) {
        margin-top: 10px !important;
    }
    .page-item {
        .page-link {
            color: $main-color;
            &:hover {
                color: $color-white;
                background-color: $main-color;
            }
            border-radius: 50%;
            padding: 6px 15px;
            width: 40px;
            height: 40px;
            margin: 0 10px;
            @media(max-width: 415.5px) {
                font-size: 15px;
                padding: 3px 10px;
                width: 30px;
                height: 30px;
                margin: 0 5px;
            }
            @media(max-width: 375.5px) {
                font-size: 14px;
                padding: 5px 10px;
            }
        }
        .active {
            background-color: $main-color;
            color: $color-white;
        }
    }
}