.contact {
    .top-banner {
        background-image: url('../img/hospital/service_bg.jpg') !important;
    }
    &-page {
        padding: 40px 0;
        background-color: $color-bg;
        @media(max-width: 991.5px) {
            padding: 20px 0;
        }
    }
    &__content {
        padding: 0 40px;
        @media (max-width: 415.5px) {
            padding: 0 25px;
            margin-top: 10px;
        }
        @media (max-width: 375.5px) {
            padding: 0 10px;
        }
    }
    &__post {
        margin: 20px 0;
        position: relative;
        background-color: $main-color;
        border-left: 5px solid $sub-color;
        color: $color-white;
        text-transform: uppercase;
        padding: 7px 30px 7px 10px;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0px 4px 1px -3px $color-gray;
        display: table;
        @media (max-width: 767.5px) {
            margin: 10px 0;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 100%;
            width: 0px;
            height: 0px;
            margin-left: -14px;
            border-bottom: 15px solid transparent;
            border-top: 15px solid transparent;
            border-right: 15px solid $color-white;
            z-index: 2;
        }
        h5 {
            font-size: 14px;
            margin-bottom: 0;
            font-weight: bold;
        }
    }
    &__info {
        &-item {
            border: none;
            margin-bottom: 20px;
            z-index: 1;
            .logo-top {
                text-align: center;
                margin: 20px 0;
                img {
                    width: 20%;
                    @media (max-width: 991.5px) {
                        width: 45px;
                    }
                    @media (max-width: 415.5px) {
                        width: 40px;
                    }
                }
            }
            .body-content {
                text-align: center;
                h5 {
                    font-weight: bold;
                    font-size: 24px;
                    margin-bottom: 10px;
                    @media (max-width: 991.5px) {
                        font-size: 22px;
                    }
                    @media (max-width: 767.5px) {
                        font-size: 18px;
                    }
                    @media (max-width: 575.5px) {
                        font-size: 16px;
                    }
                }
                .text {
                    color: $color-textB;
                    margin-bottom: 20px;
                    @media (max-width: 991.5px) {
                        font-size: 18px;
                    }
                    @media (max-width: 767.5px) {
                        font-size: 16px;
                    }
                    @media (max-width: 575.5px) {
                        font-size: 14px;
                    }
                    @media (max-width: 375.5px) {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    &__footer {
        padding-bottom: 40px;
        .map,
        .facebook {
            border: 5px solid $color-borderA;
        }
    }
}