.search-result {
    h3{
        @media (max-width : 767px) {
            font-size: 20px;
         }
    }
    &-list {
        background-color: #eeee;
        padding: 10px;
        margin: 20px 0;

        &-item {

           

            a{
                font-size: 20px;
                font-weight:600 ;
                @media (max-width : 767px) {
                    font-size: 16px;
                 }
            }

            .fa-chevron-right {
                margin: 0px 10px;
                // @media (max-width : 767px) {
                //     margin: 0px 10px;
                //  }


            }

            .day {
                color: #808080;
                margin: 0 0 0 20px;
                @media (max-width : 767px) {
                    margin: 0 0 0 10px;
                 }

            }

            .name{
                color: $main-color;
                margin: 0 5px;

            }
            p{
                color: #808080;
                padding: 5px 0;
                @media (max-width : 767px) {
                    font-size: 14px;
                 }
            }
            &-items{
                padding: 5px 0;
                display: flex;
                justify-content: left;
                @media (max-width : 767px) {
                    font-size: 12px;
                 }
            }
        }
    }
}