<footer class="footer_bg">
  <div class="container">
    <div class="footer-contain">
      <div class="row">
        <div class="col-md-3 footer-logo">
          <img src="./assets/img/footerlogo.png">
        </div>
        <div class="col-md-9 footer-contents">


          <!-- thông tin liên hệ -->
          <div class="footer-title">
            <h4>Thông tin liên hệ</h4>
          </div>
          <div class="row">
            <div class="col-sm-6 footer-items">
              <!-- địa chỉ -->
              <div class="footer-item">
                <div class="footer-item-icon">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="footer-item-content">
                  <b>Địa chỉ:</b>
                  <span>78 Đường Giải Phóng, Phương Đình,
                    Đống Đa, Hà Nội</span>
                </div>
              </div>
              <!-- mail -->
              <div class="footer-item">
                <div class="footer-item-icon">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="footer-item-content">
                  <b>Mail:</b>
                  <span>icd.bachmaihospital@gmail.com</span>
                </div>
              </div>
            </div>

            <div class="col-sm-6 footer-items">
              <!-- điện thaoị -->
              <div class="footer-item">
                <div class="footer-item-icon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="footer-item-content">
                  <b>Điện Thoại:</b>
                  <span>024 3869 3731</span>
                </div>
              </div>
              <!-- đường dây nóng -->
              <div class="footer-item">
                <div class="footer-item-icon">
                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                </div>
                <div class="footer-item-content">
                  <b>Điện thoại đường dây nóng:</b>
                  <span> 096 614 1010</span>
                </div>
              </div>
            </div>
          </div>



          <div class="footer-title">
            <h4>Kết nối với chúng tôi</h4>
          </div>
          <div class="footer-contents-items">
            <div class="footer-contents-item">

              <a href="#"></a>
              <div class="footer-item-contents-icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div></a>

              <a href="#">
                <div class="footer-item-contents-icon">
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                </div>
              </a>
              <a href="#">
                <div class="footer-item-contents-icon">
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>


        </div>

      </div>

    </div>

  </div>
</footer>