<header class="header" id="header">
    <div class="header__banner">
        <div class="container">
            <div class="header__banner-item d-inline-block">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <p><span>Hotline:</span> (321) 789 01 2345</p>
            </div>
            <div class="header__banner-item d-inline-block">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <p><span>Đặt lịch khám bệnh:</span> (321) 789 01 2345</p>
            </div>
        </div>
    </div>
    <div class="header__top">
        <div class="container">
            <div class="header__top-content d-flex">
                <div class="header__top-logo">
                    <a href="./index.html" class="d-flex">
                        <img src="./assets/img/header/logo.png" alt="">
                        <h2>BỆNH VIỆN<br><span>BẠCH MAI</span></h2>
                    </a>
                </div>

                <div class="header__top-info">
                    <ul class="list-items">
                        <li class="list-item">
                            <div class="list-item-logo">
                                <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> </div>
                            <div class="list-item-content">
                                <div class="list-item-title">Hotline</div>
                                <p>+321 789 01 2345</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item-logo">
                                <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">Đặt lịch khám bệnh</div>
                                <p>+321 028 1080</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header__top-search-bar">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm bài viết" aria-label="" aria-describedby="">
                        <a href="./page-search.html">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary btn-search"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="header__top-toggle-btn">
                    <button class="navbar-toggler btn-menu-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <div class="btn-menu-toggle">
                                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                            </div>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-item header__bottom-nav-items w-100">
                        <li class="nav-item header__bottom-nav-item">
                            <a class="nav-link header__bottom-nav-link" href="./index.html">
                                <i class="fa fa-home fa-lg" aria-hidden="true"></i></i>
                            </a>
                        </li>
                        <li class="nav-item header__bottom-nav-item intro-hover">
                            <a class="nav-link header__bottom-nav-link" data-toggle="dropdown" href="#">
                                Giới thiệu</a>
                            <div class="hover-dropdown intro-menu">
                                <ul class="hover-dropdown-list">
                                    <li class="hover-dropdown-list-item"><a href="./overview.html">Tổng quan</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./history.html">Lịch sử hình
                                            thành</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./structure.html">Cơ cấu tổ
                                            chức</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./board-directors.html">Ban Giám
                                            Đốc</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./function-room.html">Phòng chức
                                            năng</a></li>
                                    <li class="hover-dropdown-list-item"><a href="#">Thành tích - giải thưởng</a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="collapse-menu-list dropdown-menu">
                                <li class="collapse-menu-list-item"><a href="./overview.html">Tổng quan</a></li>
                                <li class="collapse-menu-list-item"><a href="./history.html">Lịch sử hình thành</a></li>
                                <li class="collapse-menu-list-item"><a href="./structure.html">Cơ cấu tổ chức</a></li>
                                <li class="collapse-menu-list-item"><a href="./board-directors.html">Ban Giám Đốc</a>
                                </li>
                                <li class="collapse-menu-list-item"><a href="./function-room.html">Phòng chức năng</a>
                                </li>
                                <li class="collapse-menu-list-item"><a href="#">Thành tích - Giải thưởng</a></li>
                            </ul>
                        </li>
                        <li class="nav-item header__bottom-nav-item curse-hover">
                            <a class="nav-link header__bottom-nav-link" data-toggle="dropdown" href="#">
                                Khám chữa bệnh</a>
                            <div class="hover-dropdown curse-menu">
                                <ul class="hover-dropdown-list">
                                    <li class="hover-dropdown-list-item department-hover"><a href="#">Chuyên khoa</a>
                                        <div class="hover-dropdown department-menu">
                                            <ul class="hover-dropdown-list">
                                                <li class="hover-dropdown-list-item"><a href="./khoanoi.html">Nội
                                                        Khoa</a></li>
                                                <li class="hover-dropdown-list-item"><a href="./khoangoai.html">Ngoại
                                                        Khoa</a></li>
                                                <li class="hover-dropdown-list-item"><a href="./canlamsan.html">Cận Lâm
                                                        Sàng</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="hover-dropdown-list-item"><a href="./examinate-schedule.html">Lịch
                                            khám</a></li>
                                </ul>
                            </div>
                            <ul class="collapse-menu-list dropdown-menu">
                                <li class="collapse-menu-list-item dropdown-submenu"><a href="#" data-toggle="dropdown">Chuyên khoa</a>
                                    <ul class="collapse-menu-list dropdown-menu d-block">
                                        <li class="collapse-menu-list-item"><a href="./khoanoi.html">Nội Khoa</a></li>
                                        <li class="collapse-menu-list-item"><a href="./khoangoai.html">Ngoại Khoa</a>
                                        </li>
                                        <li class="collapse-menu-list-item"><a href="./canlamsan.html">Cận Lâm Sàng</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="collapse-menu-list-item"><a href="./examinate-schedule.html">Lịch khám</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item header__bottom-nav-item service-hover">
                            <a class="nav-link header__bottom-nav-link" data-toggle="dropdown" href="#">
                                Dịch vụ</a>
                            <div class="hover-dropdown service-menu">
                                <ul class="hover-dropdown-list">
                                    <li class="hover-dropdown-list-item"><a href="./services.html">Dịch vụ</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./service-price.html">Bảng giá</a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="collapse-menu-list dropdown-menu">
                                <li class="collapse-menu-list-item"><a href="./services.html">Dịch vụ</a></li>
                                <li class="collapse-menu-list-item"><a href="./service-price.html">Bảng giá</a></li>
                            </ul>
                        </li>
                        <li class="nav-item header__bottom-nav-item news-events-hover">
                            <a class="nav-link header__bottom-nav-link" data-toggle="dropdown" href="#">
                                Tin tức - Sự kiện</a>
                            <div class="hover-dropdown news-events-menu">
                                <ul class="hover-dropdown-list">
                                    <li class="hover-dropdown-list-item"><a href="./tinthuongtruc.html">Tin thường
                                            thức</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./baichuyenmon.html">Bài
                                            viết<br>chuyên môn</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./tintrongnganh.html">Tin trong
                                            ngành</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./tinquocte.html">Tin quốc tế</a>
                                    </li>
                                    <li class="hover-dropdown-list-item"><a href="./thongtinthuoc.html">Thông tin
                                            thuốc</a></li>
                                </ul>
                            </div>
                            <ul class="collapse-menu-list dropdown-menu">
                                <li class="collapse-menu-list-item"><a href="./tinthuongtruc.html">Tin thường thức</a>
                                </li>
                                <li class="collapse-menu-list-item"><a href="./baichuyenmon.html">Bài viết chuyên
                                        môn</a></li>
                                <li class="collapse-menu-list-item"><a href="./tintrongnganh.html">Tin trong ngành</a>
                                </li>
                                <li class="collapse-menu-list-item"><a href="./tinquocte.html">Tin quốc tế</a></li>
                                <li class="collapse-menu-list-item"><a href="./thongtinthuoc.html">Thông tin thuốc</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item header__bottom-nav-item social-hover">
                            <a class="nav-link header__bottom-nav-link" data-toggle="dropdown" href="#">
                                Chuyên mục</a>
                            <div class="hover-dropdown social-menu">
                                <ul class="hover-dropdown-list">
                                    <li class="hover-dropdown-list-item"><a href="./chinhsach.html">Chế độ chính
                                            sách</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./chuyenmuc.html">Nhịp cầu thân
                                            ái</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./hopthu.html">Hộp thư bạn đọc</a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="collapse-menu-list dropdown-menu">
                                <li class="collapse-menu-list-item"><a href="./chinhsach.html">Chế độ chính sách</a>
                                </li>
                                <li class="collapse-menu-list-item"><a href="./chuyenmuc.html">Nhịp cầu thân ái</a></li>
                                <li class="collapse-menu-list-item"><a href="./hopthu.html">Hộp thư bạn đọc</a></li>
                            </ul>
                        </li>
                        <li class="nav-item header__bottom-nav-item">
                            <a class="nav-link header__bottom-nav-link" href="./recruitment.html">
                                Tuyển dụng</a>
                        </li>
                        <li class="nav-item header__bottom-nav-item">
                            <a class="nav-link header__bottom-nav-link" href="./video.html">
                                Video</a>
                        </li>
                        <li class="nav-item header__bottom-nav-item contact-hover">
                            <a class="nav-link header__bottom-nav-link" data-toggle="dropdown" href="#">
                                Tư vấn</a>
                            <div class="hover-dropdown contact-menu">
                                <ul class="hover-dropdown-list">
                                    <li class="hover-dropdown-list-item"><a href="./contact.html">Liên hệ</a></li>
                                    <li class="hover-dropdown-list-item"><a href="./comment.html">Hỏi đáp</a></li>
                                </ul>
                            </div>
                            <ul class="collapse-menu-list dropdown-menu">
                                <li class="collapse-menu-list-item"><a href="./contact.html">Liên hệ</a></li>
                                <li class="collapse-menu-list-item"><a href="./comment.html">Hỏi đáp</a></li>
                            </ul>
                        </li>
                        <li class="nav-item header__bottom-nav-item dip-none">
                            <a class="nav-link header__bottom-nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-search" aria-hidden="true"></i></a>
                            <div class="dropdown-menu">
                                <div class="search-bar">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Tìm bài viết" aria-label="" aria-describedby="">
                                        <a href="./page-search.html">
                                            <div class="input-group-prepend">

                                                <button type="button" class="btn btn-primary btn-search"><i
                                                        class="fa fa-search" aria-hidden="true"></i></button>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>